.example-chip-list {
    margin-top: 100px;
    width: 80%;
    margin-left: 10%;

    // margin: auto;/*  */
    background-color: blue;
  }



  .flex{
    // display: flex;
    margin: 0 20px;
  }
  .example-spacer {
    flex: 1 1 auto;
    margin: 0 20px;
  }






















  




section {
  display: flex;
  margin: auto;
}
section *{
  display:flex;
  margin: auto;

}


.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}