<!-- ! i not found what i want form matiral design  -->

<!-- <p> -->
    <!-- <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div class="flex">
            <span>home</span>
            <span>sign-in</span>
            <span>sign-up</span>
        </div>

        
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        
      </mat-toolbar-row>
-->
      <!-- <mat-toolbar-row>
        <span>Second Line</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar-row> -->
    <!-- </mat-toolbar> -->
  <!-- </p> -->

<!-- 
<ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/signin">News</a></li>
    <li><a routerLink="/signup">Contact</a></li>
    <li style="float:right ;"><a class="active" routerLink="/***">problem</a></li>
</ul>




<div class="card">
    <h3 class="card__title">welcom in my project</h3>
    <p class="card__content">
        this project is for todo-list to write your task in todo-list
        and there a page when you can make your pomodoro .
    </p>
    <div class="card__date">
        creat by youssef degachi
    </div>
    <div class="card__arrow">
        <svg routerLink="/signin" fill="none" viewBox="0 0 24 24" height="15" width="15">
            <path fill="#fff" d="M13.4697 17.9697C13.1768 18.2626 13.1768 18.7374 13.4697 19.0303C13.7626 19.3232 14.2374 19.3232 14.5303 19.0303L20.3232 13.2374C21.0066 12.554 21.0066 11.446 20.3232 10.7626L14.5303 4.96967C14.2374 4.67678 13.7626 4.67678 13.4697 4.96967C13.1768 5.26256 13.1768 5.73744 13.4697 6.03033L18.6893 11.25H4C3.58579 11.25 3.25 11.5858 3.25 12C3.25 12.4142 3.58579 12.75 4 12.75H18.6893L13.4697 17.9697Z"></path>
        </svg>
    </div>
</div> -->





<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- matiral desgin -->
<!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!-- 
<mat-card>
  <mat-card-content>Simple card</mat-card-content>
</mat-card> -->



<mat-card class="example-card">
  <mat-card-header>
    <mat-card-subtitle>youssef  degachi</mat-card-subtitle>
    <mat-card-title>welcom in my project</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      this project is for todo-list to write your task in todo-list
      and there a page when you can make your pomodoro .
    </p>
    <mat-divider></mat-divider>
  </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/signin" routerLinkActive="active">sign in</button>
      <button mat-button routerLink="/signup" routerLinkActive="active">sign up</button>
    </mat-card-actions>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>



<!-- <button (click)="transport()">forgeten</button> -->