
<!-- <div class="example-button-row  cont" >
    <input type="text" name="text" class="input" placeholder="Enter your mail!" #usermail>
    <button mat-raised-button color="primary" (click)="check()">Primary</button>
</div> -->










<mat-card class="example-card">
    <mat-card-content>sign-in</mat-card-content>
    <form class="example-form">
        <mat-form-field class="example-full-width">
        <mat-label>email</mat-label>
        <input matInput value="@gmail.com" name="text" [(ngModel)]="mymail">
        </mat-form-field>
    <br>
        <section>
            <div class="example-button-row">
            <button mat-raised-button color="accent" routerLink="/todo" routerLinkActive="active"  (click)="check()">submit</button>
            <button mat-raised-button color="accent" routerLink="/signup" routerLinkActive="active">sign-up</button>
            <button mat-raised-button color="accent" routerLink="/forgeten" routerLinkActive="active">sign-in</button>

            </div>
        </section>
    </form>


</mat-card>

<!-- 

<div class="example-button-row  cont" >
    <input type="email" name="text" class="input" 
    placeholder="Enter your mail!" [(ngModel)]="mymail">
   




    <button mat-raised-button color="primary" (click)="check()">Primary</button>
    <button mat-raised-button color="primary" routerLink="/">Home</button>

</div>

<p>write "aaa" to show resalte</p> -->