/* 
.input {
  position: absolute;
  margin: 10 20;
  color: #888888;
  border: 2px solid #e8e8e8;
  padding: 15px;
  border-radius: 10px;
  background-color: #212121;
  font-size: small;
  font-weight: bold;
  text-align: center;
  left: calc(125% /  3);
}

.input:focus {
  outline-color: white;
  background-color: #212121;
  color: #e8e8e8;
  box-shadow: 5px 5px #888888;
}









.example-button-row button,
.example-button-row a {
  // margin-right: 8px;
  margin-top: 50px;
  left: calc(100% /  2.4);
  background-color: #888888;

}

.example-disabled {
  display: inline-block;
} */















.example-card {
  max-width: 400px;
  margin: auto;
}

.example-card mat-card-content{
  // background-color: rgb(4, 17, 17);
  color: white;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}


.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}







section {
  display: table;
  margin: auto;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}