
<p>
    <mat-toolbar>
        <div class="flex"><button mat-raised-button color="accent" routerLink="/accueil" routerLinkActive="active">accueil</button></div>
        <div class="flex"><button mat-raised-button color="accent" routerLink="/connexion" routerLinkActive="active">connexion</button></div>
    <div class="flex"><button mat-raised-button color="accent" routerLink="/inscrepition" routerLinkActive="active">inscrepition</button></div>
    <span><button mat-raised-button color="accent" routerLink="/connexion" routerLinkActive="active">deconnection</button></span>
    </mat-toolbar>
</p>